/* raccolta di CSS custom */

/* MARGINE */
.my-margin {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-right: 28px;
	padding-left: 28px;
}

/* ANIMATE-OPACITY */
.my-animate-opacity{
	animation:opac 3.5s
}
@keyframes opac{
	from{opacity:0} 
	to{opacity:1}
}

/* IMG ZOOM ON HOVER */
.img-hover-zoom { /* [1] The container */
  height: 100%; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.img-hover-zoom img { /* [2] Transition property for smooth transformation of images */
  transition: transform 1.5s ease;
}
.img-hover-zoom img:hover { /* [3] Finally, transforming the image when container gets hovered */
  transform: scale(1.1);
}

/* TRANSITIONS */
#trans-linear {transition-timing-function: linear;}
#trans-ease {transition-timing-function: ease;}  
#trans-ease-in {transition-timing-function: ease-in;}
#trans-ease-out {transition-timing-function: ease-out;}
#trans-ease-in-out {transition-timing-function: ease-in-out;}

/* NAV BAR - sticky, collapse, left */
.my-navbar {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.my-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.my-navbar a:hover {
  background-color: #ddd;
  color: black;
}
.my-navbar a.active {
  background-color: #000000;
  color: white;
}
.my-navbar a.active:hover {
  background-color: #ddd;
  color: black;
}
.my-navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .my-navbar a:not(:first-child) {display: none;}
  .my-navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .my-navbar.responsive {position: relative;}
  .my-navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .my-navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* OPACITY WITH RGBA */
:root {
	--color: 240, 240, 240;
	--alpha: 0.8;
}
.my-opacity { /*da lo stesso effetto dell'opacity ma non viene passato ai figli */
	background-color: rgba(var(--color), var(--alpha));
}
.my-opacity-gray {background:rgba(158, 158, 158,0.6)}


/* BACKGROUND IMAGE*/
.fixed-bg { /* il sito si muove, il background no! */
	 /* background-image: url("JohnnyBravoBlogImages/wood.jpg");*/
	 background-image: url("JohnnyBravoBlogImages/wood2.jpg");
	 /*  background-image: url("JohnnyBravoBlogImages/city.gif");*/
	  min-height: 500px;
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
}
.cover {object-fit: cover;}	/* fit immages into container */


/* MORE SHADOW CARD */
.my-card, .my-hover-shadow:hover {
	box-shadow: 0 14px 19px 0 rgba(0,0,0,0.4), 0 14px 20px 0 rgba(0,0,0,0.3);
}


/*  CSS Flip Card stuff*/
.flip-card {
	  margin-left: auto;
	  margin-right: auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s ease-out;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: yellow;
  color: black;
  transform: rotateY(180deg);
}
